

.post{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin: 0 auto;
    text-align: center;
    width: 80%;

    &-container {
        background: deepskyblue;
        display:flex;


        &-title {
            color: #fff;
            padding: 3%;
            width:80%;
        }
        &-icon{
            width:20%;
        }

    }
    &-card{
        border:1px solid #0DCEA8;
        border-radius:2% ;
        display:flex;
        flex-direction: column;
        margin:3%;
        width:35%;
    }

    &-main{
        padding:3%;
    }

}

